@using Business.Interfaces
@using Entities.Entities
@using Blazor2.Models.Stock
@using Radzen.Blazor.Rendering
@using Blazor2.Pages.Stock.BootstrapComponents;
@inject IProductService ProductService
@inject IStockService StockService


<style>
    .rz-panel-titlebar {
        display: flex;
        justify-content: space-between;
        background: #e6ecef;
        padding: 8px;
        border-radius: 5px;
        color: black;
        border-bottom: 1px solid #dadfe2;
    }

    .rz-panel-titlebar-toggler {
        width: 1.625rem;
        height: 1.625rem;
        border-radius: 5px;
        background-color: #ff6d41;
        color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #f8f9fa;
    }

    .rz-panel-content {
        margin: 0;
        background: #f0f1f2;
        padding: 0;
    }

    .card-title {
        margin-bottom: 0.5rem;
        box-shadow: 0 0 15px 0 #545d64;
        padding: 15px;
        border-radius: 5px;
    }

</style>
<div class="row" style="margin-bottom: 5px; background: #e6ecef; padding-top: 15px; border-radius: 5px; border: 1px solid #ccc;">
    <div class="col-3">
        <div class="card text-dark bg-warning mb-3" style="max-width: 100%;">
            <div class="card-header"><RadzenIcon Icon="search" /> Toplam Yapılan Stok Hareketi </div>
            <div class="card-body">
                <h1 class="card-title">@StockService.GetAll().Count()</h1>

                <p>Adet Stok Ekleme Operasyonu Yapılmıştır.</p>
            </div>
        </div>
    </div>
    <TotalStock Total="totalPiece" />
    <StockTotalProductPrices />
    <div class="col-3">
        <div class="card text-white bg-danger mb-3" style="max-width: 100%;">
            <div class="card-header"><RadzenIcon Icon="shopping_cart" /> Stokta Bulunan Toplam Ürün Sayısı</div>
            <div class="card-body">

                <h1 class="card-title">@totalStockProduct</h1>
                <p>Adet ürün bulunmaktadır.</p>
            </div>
        </div>
    </div>

</div>
<StockListView SearchText="@SearchText" />

@code {


    int totalStockProduct = 0;
    decimal totalPrice = 0;
    public string SearchText { get; set; }
    int totalPiece = 0;
    System.Threading.Timer timer;

    protected override void OnInitialized()
    {
       
           
       timer = new System.Threading.Timer(async _ =>  // async void
    {
        totalPiece = StockService.GetAll().Sum(p => p.Piece);
            var groupBy = StockService.GetAll().GroupBy(p => p.ProductId);

            foreach (var item in groupBy)
            {
                totalPrice += item.FirstOrDefault().ProductId.Price * item.Sum(p => p.Piece);

            }
            totalStockProduct = StockService.GetAll().Select(p => p.ProductId).Distinct().Count();
        InvokeAsync(StateHasChanged);
    }, null, 0, 1000);



    }

    void OnChange(string value, string name)
    {
        Task.Delay(TimeSpan.FromSeconds(0.3));
        SearchText = value.ToLower();
        //orders = ProductService.GetAll().Where(p => p.Name.ToLower().Contains(value.ToLower())).OrderByDescending(p => p.Id);
        StateHasChanged();
    }

}